/*#root {
    height: 100%; !* Set the height to fill the viewport *!
    background: repeating-linear-gradient(to bottom, #d96165, #6693ba);
    !* Add other styles for the root element *!
}*/

h1.ui.header {
    padding: 2rem;
}

.ui.two.column.centered.grid .ui.button {
    margin-left: 1rem;
}
.ui.input {
    padding: 1rem;
}

.searchBox {
    min-height: 500px;
    border-radius: 10px;
    background: repeating-linear-gradient(to bottom, #d96165, #6693ba);
}
